# Dependencias
node_modules/

# Variables de entorno
.env

# Base de datos
database/*.db
database/*.sqlite
database/*.sqlite3

# Logs
logs/
*.log
npm-debug.log*

# Archivos temporales
tmp/
temp/
.cache/

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/